In [362]:
#pandas
import pandas as pd
import numpy as np

In [363]:
pd.Series([1,2,3,'pandas',7,8,'numpy', -2,-5] )

0         1
1         2
2         3
3    pandas
4         7
5         8
6     numpy
7        -2
8        -5
dtype: object

In [364]:
dates = pd.date_range('20240101',periods=6)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [365]:
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=['A','B','C','D'])
df

                   A         B         C         D
2024-01-01  2.515165 -0.151373  0.679709  0.555775
2024-01-02 -0.308343 -0.747865  0.365225 -0.949817
2024-01-03 -0.399181 -0.466809 -0.769228 -0.813857
2024-01-04 -1.803353 -1.189155  1.400799 -1.413299
2024-01-05  0.086091  0.457419  0.753747  1.112993
2024-01-06  0.066366  0.941727  0.101516 -1.195033

In [366]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [367]:
df['A']

2024-01-01    2.515165
2024-01-02   -0.308343
2024-01-03   -0.399181
2024-01-04   -1.803353
2024-01-05    0.086091
2024-01-06    0.066366
Freq: D, Name: A, dtype: float64

In [368]:
df.head(2)

                   A         B         C         D
2024-01-01  2.515165 -0.151373  0.679709  0.555775
2024-01-02 -0.308343 -0.747865  0.365225 -0.949817

In [369]:
df.tail(2)

                   A         B         C         D
2024-01-05  0.086091  0.457419  0.753747  1.112993
2024-01-06  0.066366  0.941727  0.101516 -1.195033

In [370]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.026124 -0.192676  0.421961 -0.450540
std    1.402874  0.785819  0.729311  1.031480
min   -1.803353 -1.189155 -0.769228 -1.413299
25%   -0.376471 -0.677601  0.167443 -1.133729
50%   -0.120989 -0.309091  0.522467 -0.881837
75%    0.081160  0.305221  0.735237  0.213367
max    2.515165  0.941727  1.400799  1.112993

In [371]:
df[:3].mean()

A    0.602547
B   -0.455349
C    0.091902
D   -0.402633
dtype: float64

In [372]:
df.transpose()

   2024-01-01  2024-01-02  2024-01-03  2024-01-04  2024-01-05  2024-01-06
A    2.515165   -0.308343   -0.399181   -1.803353    0.086091    0.066366
B   -0.151373   -0.747865   -0.466809   -1.189155    0.457419    0.941727
C    0.679709    0.365225   -0.769228    1.400799    0.753747    0.101516
D    0.555775   -0.949817   -0.813857   -1.413299    1.112993   -1.195033

In [373]:
df.sort_values(by='B')

                   A         B         C         D
2024-01-04 -1.803353 -1.189155  1.400799 -1.413299
2024-01-02 -0.308343 -0.747865  0.365225 -0.949817
2024-01-03 -0.399181 -0.466809 -0.769228 -0.813857
2024-01-01  2.515165 -0.151373  0.679709  0.555775
2024-01-05  0.086091  0.457419  0.753747  1.112993
2024-01-06  0.066366  0.941727  0.101516 -1.195033

In [374]:
df[df["A"]>0]

                   A         B         C         D
2024-01-01  2.515165 -0.151373  0.679709  0.555775
2024-01-05  0.086091  0.457419  0.753747  1.112993
2024-01-06  0.066366  0.941727  0.101516 -1.195033

In [375]:
df.to_csv("mycsv.csv")
df.to_excel('Myexel.xlsx')